In [1]:
# import libraries
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\p40sh\OneDrive\Desktop\Industry project\netflix_titles.csv")

In [4]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6805,s6806,Movie,Friend Request,Simon Verhoeven,"Alycia Debnam-Carey, William Moseley, Connor P...",Germany,"April 18, 2018",2016,R,92 min,"Horror Movies, International Movies",A popular college student's love of social med...
2429,s2430,Movie,Canâ€™t Complain,Ahmed Nader Galal,"Ahmed Helmy, Menna Shalaby, Khaled El Sawy, Lo...",Egypt,"June 3, 2020",2007,TV-MA,114 min,"Comedies, International Movies, Romantic Movies",Raised by a father to fraudulently act as one ...
2588,s2589,TV Show,Oh Yuck,NaN,"Kayne Tremills, Nia Roam, David Collins, Shane...",Canada,"May 1, 2020",2020,TV-G,1 Season,"Kids' TV, TV Comedies","Using a concoction of cartoons, comedy and liv..."
4166,s4167,TV Show,Black Earth Rising,NaN,"Michaela Coel, John Goodman, Abena Ayivor, Nom...",United Kingdom,"January 25, 2019",2018,TV-MA,1 Season,"British TV Shows, International TV Shows, TV D...",Adopted by a human rights attorney after the R...
1617,s1618,Movie,Natalie Palamides: Nate - A One Man Show,Phil Burgers,Natalie Palamides,United States,"December 1, 2020",2020,TV-MA,60 min,Comedies,"Tough talk takes a soft turn as Nate, played b..."

In [6]:
df.drop(["show_id","description"], axis=1, inplace=True)

In [7]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
8774,Movie,ÙŠÙˆÙ… Ø§Ù„Ø¯ÙŠÙ†,Abu Bakr Shawky,"Rady Gamal, Ahmed Abdelhafiz, Shahira Fahmy, S...","Egypt, Austria, United States","October 22, 2019",2018,TV-14,97 min,"Dramas, Independent Movies, International Movies"
6232,Movie,Barah Aana,Raja Menon,"Naseeruddin Shah, Arjun Mathur, Vijay Raaz, Ta...",India,"December 31, 2019",2009,TV-14,95 min,"Dramas, International Movies"
4689,TV Show,The Innocents,NaN,"Sorcha Groundsell, Percelle Ascott, Guy Pearce...",United Kingdom,"August 24, 2018",2018,TV-MA,1 Season,"British TV Shows, International TV Shows, Roma..."
8473,Movie,The Rainmaker,Francis Ford Coppola,"Matt Damon, Danny DeVito, Claire Danes, Jon Vo...","United States, Germany","November 20, 2019",1997,PG-13,136 min,"Dramas, Thrillers"
2831,Movie,Alakada Reloaded,Toyin Abraham,"Kehinde Bankole, Lilian Esoro, Bolaji Amusan, ...",NaN,"March 6, 2020",2017,TV-MA,104 min,"Comedies, International Movies"

In [8]:
df.shape

(8807, 10)

In [9]:
df.size

88070

In [10]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [11]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [14]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [15]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [16]:
mode_country= df["country"].mode()[0]
mode_country

'United States'

In [17]:
df["country"]= df["country"].fillna(mode_country)

In [18]:
df["country"].isna().sum()

0

In [19]:
df["date_added"].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [20]:
mode_date= df["date_added"].mode()[0]

In [21]:
mode_date

'January 1, 2020'

In [22]:
df["date_added"]=df["date_added"].fillna(mode_date)

In [23]:
df["date_added"].isna().sum()

0

In [24]:
mode_rating=df["rating"].mode()[0]

In [25]:
mode_rating

'TV-MA'

In [26]:
df["rating"]=df["rating"].fillna(mode_rating)

In [27]:
df["rating"].isna().sum()

0

In [28]:
mode_duration=df["duration"].mode()[0]

In [29]:
mode_duration

'1 Season'

In [30]:
df["duration"]=df["duration"].fillna(mode_duration)

In [31]:
df["duration"].isna().sum()

0

In [32]:
df["director"]=df["director"].fillna("Not Mentioned")

In [33]:
df["director"].isna().sum()

0

In [34]:
df["cast"]=df["cast"].fillna("Not Mentioned")

In [35]:
df["cast"].isna().sum()

0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [37]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [38]:
df= df[~df["rating"].str.contains("min")]

In [39]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [40]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [41]:
df["date_added"]=df["date_added"].str.replace(",","")

In [42]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [43]:
df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

In [44]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [45]:
df["year"]=df["date_added"].dt.year

In [46]:
df["month"]=df["date_added"].dt.month

In [47]:
df["day"]=df["date_added"].dt.day

In [48]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
4100,Movie,Buddies,Marcelo GalvÃ£o,"Ariel Goldenberg, Rita Pokk, Breno Viola, Lima...",Brazil,2019-02-15,2012,TV-MA,103 min,"Comedies, Dramas, Independent Movies",2019,2,15
497,TV Show,Cat People,Not Mentioned,Not Mentioned,United States,2021-07-07,2021,TV-14,1 Season,Docuseries,2021,7,7
4466,Movie,Zokkomon,Satyajit Bhatkal,"Darsheel Safary, Anupam Kher, Manjari Fadnis, ...",India,2018-11-01,2011,PG,104 min,"Children & Family Movies, Dramas",2018,11,1
7804,Movie,Pusher,Luis Prieto,"Richard Coyle, Bronson Webb, Agyness Deyn, Mem...",United Kingdom,2017-12-27,2012,R,89 min,Action & Adventure,2017,12,27
2854,TV Show,Akame ga Kill!,Not Mentioned,"Sora Amamiya, Soma Saito, Yukari Tamura, Yuu A...",Japan,2020-03-01,2014,TV-14,1 Season,"Anime Series, Crime TV Shows, International TV...",2020,3,1

In [49]:
df["genre"]= df["listed_in"].str.split(",").str[0]

In [50]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [51]:
df = df[df["cast"]!="Not Mentioned"]

In [52]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [53]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: count, dtype: int64

In [54]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
282,Movie,La diosa del asfalto,JuliÃ¡n HernÃ¡ndez,"Ximena Romo, Mabel Cadena, Alejandra Herrera, ...",Mexico,2021-08-11,2020,TV-MA,127 min,"Dramas, Independent Movies, International Movies",2021,8,11,Dramas,Ximena Romo
8347,TV Show,The Homecoming,Not Mentioned,"Se-yoon Yoo, Tyler Rasch, Guillaume Patry, Nik...",United States,2017-06-02,2015,TV-PG,1 Season,"International TV Shows, Korean TV Shows, Reali...",2017,6,2,International TV Shows,Se-yoon Yoo
2882,Movie,The Arbitration,Niyi Akinmolayan,"Adesua Etomi, O.C. Ukeje, Ireti Doyle, Sola Fo...",Nigeria,2020-02-26,2016,TV-MA,101 min,"Dramas, International Movies",2020,2,26,Dramas,Adesua Etomi
8741,TV Show,Wild Arabia,Not Mentioned,Alexander Siddig,United Kingdom,2017-03-31,2013,TV-PG,1 Season,"British TV Shows, Docuseries, Science & Nature TV",2017,3,31,British TV Shows,Alexander Siddig
5885,TV Show,W/ Bob & David,Not Mentioned,"David Cross, Bob Odenkirk, John Ennis, Jay Joh...",United States,2015-11-13,2015,TV-MA,1 Season,TV Comedies,2015,11,13,TV Comedies,David Cross

In [55]:
df.drop(["date_added","listed_in","cast"], axis=1, inplace=True)

In [56]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
2361,Movie,The Emigrant,Youssef Chahine,"Egypt, France",1994,TV-14,130 min,2020,6,19,Dramas,Khaled El Nabawy
8181,Movie,The Adventure Club,Geoff Anderson,Canada,2016,TV-Y7,88 min,2017,5,10,Children & Family Movies,Sam Ashe Arnold
2723,Movie,Friendship,Raj Khosla,India,1980,TV-14,161 min,2020,4,1,Action & Adventure,Amitabh Bachchan
2371,Movie,Lola Igna,Eduardo Roy Jr.,Philippines,2019,TV-14,114 min,2020,6,18,Comedies,Angie Ferro
6774,TV Show,Footprints in the Sand,Not Mentioned,United States,2011,TV-14,1 Season,2017,10,16,International TV Shows,Yenn Teoh

In [60]:
df.to_csv("E:\My_Project\Cleaned Data_Netflix project.")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\p40sh\AppData\Local\Temp\ipykernel_19564\1109492408.py:1: SyntaxWarning: invalid escape sequence '\M'
  df.to_csv("E:\My_Project\Cleaned Data_Netflix project.ipynb")

In [61]:
df.to_csv("E:\My_Project\Cleaned Data_Netflix project.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\p40sh\AppData\Local\Temp\ipykernel_19564\3396709782.py:1: SyntaxWarning: invalid escape sequence '\M'
  df.to_csv("E:\My_Project\Cleaned Data_Netflix project.csv")

In [62]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
5760,Movie,The Siege of Jadotville,Richie Smyth,"Ireland, South Africa",2016,TV-MA,108 min,2016,10,7,Action & Adventure,Jamie Dornan
5987,Movie,13 Cameras,Victor Zarcoff,United States,2015,NR,90 min,2016,8,13,Horror Movies,PJ McCabe
2268,Movie,Boss,Anthony D'Souza,India,2013,TV-14,139 min,2020,7,5,Action & Adventure,Akshay Kumar
5535,Movie,Kevin Hart: What Now?,Leslie Small,United States,2016,R,96 min,2017,4,11,Stand-Up Comedy,Kevin Hart
4668,Movie,Love and Shukla,Jatla Siddartha,India,2017,TV-MA,110 min,2018,9,1,Dramas,Saharsh Kumar Shukla